@model ShortestDestinationViewModel;

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(askFastedRoute);
        });

        function askFastedRoute() {
            var isValid = $("form").valid();
            if (isValid === false)
                return;

            var data = $("form").serialize();
            $.post("/home/ShortestDestination", data, onRouteSuccess);
        }

        function onRouteSuccess(data) {
            if (data.errors != null && data.errors != "") {
                showErrors(data.errors);
                return;
            }

            $("#route-result").html(data.routeDescription);
            showHistory(data.history)
        }

        function showHistory(history) {
            $("#route-history-label").show();
            var html = "";
            for (var i = 0; i < history.length; i++) {
                html += "<p>" + history[i] + "</p>"
            }
            $("#route-history").html(html);
        }

        function showErrors(errors) {
            $("#modal-message-body").html(errors.replaceAll("\n", "<br>"));
            $(".modal").modal("show");
        }
    </script>
}

<div class="row">
    <h1 class="display-4 text-center p-5">Amazonia</h1>
    <div class="route-panel col-11 col-md-8 p-5 mx-auto">
        <form asp-action="Calc">
            <div class="row gy-2">
                <div class="col-12 col-md-8">
                    <div class="row gy-2">
                        <div class="col-12">
                            <p>Input coordinates:</p>
                        </div>
                        <div class="col-6">
                            <label>Drone Start:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Start" class="form-control input-txt-primary"
                                oninput="this.value = this.value.toUpperCase()" />
                            <span asp-validation-for="Start" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Object pick-up:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="PickUp" class="form-control input-txt-primary"
                                oninput="this.value = this.value.toUpperCase()" />
                            <span asp-validation-for="PickUp" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Delivery destination:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Destination" class="form-control input-txt-primary"
                                oninput="this.value = this.value.toUpperCase()" />
                            <span asp-validation-for="Destination" asp-vali class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row h-100 align-items-end">
                        <button id="btnsubmit" type="button" class="btn btn-primary">
                            Calculate fastest route!
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row gy-2">
            <div id="route-result" class="col-12 py-3">
            </div>
            <div id="route-history-label" class="col-12 py-2" style="display: none;">
                Last deliverieas:
            </div>
            <div id="route-history" class="col-12">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="modal-message-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-color1">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-message-title">Warning</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-message-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>